<!DOCTYPE html>
<html>
<head>
	<title>Add New User Page</title>
	<script type="text/javascript" src="static/js/jquery.min.js"></script>
	<script type="text/javascript" >
		function checkForm(){
			var pwd = $('#password').val();
			var re_pwd= $('#re_password').val();

			if(pwd != re_pwd){
				alert("Confirm password is not same as password.");
				return false;
			}
			return true;
		}

	</script>
</head>
<body>
	<form id = "form" onsubmit="return checkForm();" action="{{ url_for('add_user_request') }}" method="POST">
	<label>Username <input type="text" name="username" id="username" /></label>
	<label>Password<input type="password" name="password" id="password" /></label>
	<label>Confirm Password<input type="password" name="re_password" id="re_password" /></label>
	<input type="submit" name="submit" value="ADD">
	</form>
</body>
</html>