 <meta name="viewport" content="width=device-width" />
<link rel="stylesheet" href="static/css/nav_fix.css">
<nav class="navbar navbar-inverse navbar_fix">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="{{url_for('dashboard')}}">GOGROCERY</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active">
          <!-- <a href="{{url_for('dashboard')}}">Home</a> -->
        </li> 
      </ul>
      <ul class="nav navbar-nav navbar-right">
		
      {% if username == 'Admin' %}
    <li><a href="{{url_for('add_user_page')}}"><span class="glyphicon glyphicon-plus"></span> Add User</a></li>
      {% endif %}

      {% if username == "NO user logged In. Please Login!" %}
        <li><a href="{{url_for('index')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      {% else %}
        <li><a href="{{url_for('logout')}}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      {% endif %}
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="text-center">
    <h1>GOGROCERY</h1>
    <div id="admin">{% if username == "NO user logged In. Please Login!" %}
                                  <div>Please <a href="{{url_for('index')}}" style="text-decoration: none;font-style: oblique;color: black">Login</a> &amp; Continue!</div>
                                  {% else %}


 <h5 style="font-style:oblique;font-size: 1.2em">Hello {{ username }}!</h5>      
    <p></p>
  </div>
</div>

 

 {% endif %}
 </div></h3>


 

