<link rel="stylesheet" href="static/css/nav_fix.css">
<nav class="navbar navbar-inverse navbar_fix">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="{{url_for('dashboard')}}">GOGROCERY</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active">
          <!-- <a href="{{url_for('dashboard')}}">Home</a> -->
        </li> 
      </ul>
      <ul class="nav navbar-nav navbar-right">
		
      {% if username == 'Admin' %}
    <li><a href="{{url_for('add_user_page')}}"><span class="glyphicon glyphicon-plus"></span> Add User</a></li>
      {% endif %}

      {% if username == "NO user logged In. Please Login!" %}
        <li><a href="{{url_for('index')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      {% else %}
        <li><a href="{{url_for('logout')}}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      {% endif %}
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="text-center">
    <h1>GOGROCERY</h1>      
    <p></p>
  </div>
</div>

 <h1><div id="admin" class="text-muted">{% if username == "NO user logged In. Please Login!" %}
                                  <div>NO user logged In. Please Login!</div>
                                  {% else %}

 <div>Logged in as: {{ username }},</div>

 {% endif %}
</div></h1>

 

