<html>
<head>
<title>test for selection of categories and sub categories</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="static/js/select.js"></script>
</head>
<body onload="fetch1()">
<form>
<label>Category</label>
<select id="select1" onchange="fetch2()">
</select>
<label>Sub Category</label>
<select id="select2" onchange="fetch3()">
</select>
<label>Product Name</label>
<select id="select3" onchange="save_pid()">

<input type="hidden" id = "pid_key" name="product_key" value = "NONE">
</select>
</form>
</body>

</html>